<div id="app" class="text-center mt-4" v-cloak>
    <div class="font-black">Login Wallet</div>
    <div class="form-control mx-auto w-full max-w-xs">
        <label class="label">
            <span class="label-text">id</span>
            <!-- <span class="label-text-alt">a-z1-9</span> -->
        </label>
        <input v-model="id" type="text" placeholder="wallet id" class="input input-sm input-bordered w-full max-w-xs" />
    </div>

    <div class="form-control mx-auto w-full max-w-xs">
        <label class="label">
            <span class="label-text">password</span>
        </label>
        <input v-model="password" type="password" placeholder="wallet password"
            class="input input-sm input-bordered w-full max-w-xs" />
    </div>


    <div class="form-control mt-4 mx-auto w-full max-w-xs">
        <button @click="login" class="btn btn-sm btn-primary">login</button>
    </div>

    <div class="mt-16">
        <a href="create" class="link">create or import wallet</a>
    </div>
</div>

<script>
    var app = new Vue({
        el: "#app",
        data: {
            id: "",
            password: ""
        },
        methods: {
            login: function () {
                axios.post("/api/wallet/login", {
                    id: this.id,
                    password: this.password,
                }).then(function (res) {
                    location.href = "/wallet/home"
                }).catch(function (err) {
                    weui.topTips(getAxiosErrorMessage(err));
                })
            }
        }
    })
</script>