<div class="hero">
    <div class="hero-content text-center">
        <div class="max-w-md">
            <h1 class="text-5xl font-bold">Tiny Wallet</h1>
            <p class="py-6">the easist use and extensable crypto wallet</p>
        </div>
    </div>
</div>

<div class="m-4 leading-relaxed font-bold ">

    <p class="mt-2 ">User only need to remember the id and password to login and transfer.</p>

    <p class="mt-2">PrivateKey was encrypted and save to database. User need to input password to sign transaction
        everytime. </p>

    <p class="mt-2">You may think, It was easy and danger to loss password.</p>

    <p class="mt-2">Yes and no, password would loss easy. but we could setup different limit level passwords. and we
        could know
        transaction
        was signed by which password</p>
</div>

<div class="alert  shadow-lg">
    Try to use TinyWallet in testnet first.
</div>


<div class="mockup-code mt-8">
    <pre data-prefix="$"><code>git clone https://github.com/tans/TinyWallet.git</code></pre>
    <pre data-prefix="$"><code>cd tinywallet && npm i</code></pre>
    <pre data-prefix=">" class="text-warning"><code>installing...</code></pre>
    <pre data-prefix=">" class="text-success"><code>Done!</code></pre>
</div>


<div class="text-center m-4">
    <a class="btn btn-primary" href="https://github.com/tans/TinyWallet.git">GITHUB</a>
</div>