<div class="font-black p-8 text-center">
    <img src="/resource/SVG/finance/wallet.svg" class="w-10 m-4 mx-auto" />
    <div class="p-4">TinyWallet is a Self-Hosted programmable crypto wallet</div>
</div>


<div class="py-4 font-bold text-xl flex items-center">
    <div class="mr-2">Self-Hosted Usage</div>
</div>

<div class="p-2">- <span class="font-extrabold font-sans">Transation Approve</span>, role-based management,
    separate
    (view|submit|approve) roles</div>
<div class="p-2">
    - <span class="font-extrabold font-sans">Assert Audit</span>, erc20 tokens, nfts transactions audit by tags, users,
    logs
</div>
<div class="p-2">
    - <span class="font-extrabold font-sans">Coin Currency Exchange</span>, exchange between coin and currency
</div>

<div class="p-2">
    - <span class="font-extrabold font-sans">Nft Shop</span>, customized nft shop
</div>

<div class="py-4 font-bold text-xl flex items-center">
    <div class="mr-2">Api-First Design</div>
    <img src="/resource/SVG/interface/bulb.svg" class="w-6" />
</div>
<div class="p-2 font-bold">1 create or import wallet
    <span class="text-gray-400">/api/wallet </span>
</div>
<div class="p-2 font-bold">2 create api account
    <span class="text-gray-400">/api/wallet/:address/account</span>
</div>
<div class="p-2 font-bold">3 submit transation
    <span class="text-gray-400">/api/wallet/:address/transation</span>
</div>
<div class="p-2 font-bold">4 event webhook
    <span class="text-gray-400">http://abc.xyz/webhook</span>
</div>

<div class="p-2 font-bold">...
</div>

<!-- <div class="py-4 font-bold text-xl flex items-center">
    <div class="mr-2">More</div>
    <img src="/resource/SVG/interface/arrow.svg" class="w-6" />
</div> -->

<a href="https://twitter.com/tanrunhao" target="_blank"
    class="cursor-pointer hover:bg-gray-100 flex items-center font-black p-2 m-2 border rounded w-48 border-gray-700">
    <div class="flex-1">Twitter</div>
    <img class="w-10" src="/resource/SVG/logos/twitter.svg" />
</a>
<a href="https://github.com/tans" target="_blank"
    class="cursor-pointer hover:bg-gray-100 flex items-center font-black p-2 m-2 border rounded w-48 border-gray-700">
    <div class="flex-1">Github</div>
    <img class="w-10" src="/resource/SVG/interface/star.svg" />
</a>
<a href="/doc"
    class="cursor-pointer hover:bg-gray-100 flex items-center font-black p-2 m-2 border rounded w-48 border-gray-700">
    <div class="flex-1">Document</div>
    <img class="w-10" src="/resource/SVG/finance/wallet.svg" />
</a>