<div class="py-4 font-bold text-xl flex items-center">
    <div class="mr-2">Features</div>
    <img src="/resource/SVG/finance/wallet.svg" class="w-10" />
</div>
<!-- <div class="p-2">
    1. use to earn, the token can use to pay subscrition and advertise.
</div> -->

<div class="p-2">- <span class="font-extrabold font-sans">token radar</span>, find Skyrocket Token</div>
<div class="p-2">
    - <span class="font-extrabold font-sans">open source</span>, deploy to your server or Raspberry Pi
</div>
<div class="p-2">
    - <span class="font-extrabold font-sans">easy to use</span>, simplest wallet in the world
</div>

<div class="py-4 font-bold text-xl flex items-center">
    <div class="mr-2">How To Use</div>
    <img src="/resource/SVG/interface/bulb.svg" class="w-6" />
</div>
<div class="p-2">1 create wallet account</div>
<div class="p-2">2 use radar to find some interesting token</div>
<div class="p-2">3 exchange with dex protocol</div>
<div class="p-2">4 remeber to save your huge property in cold wallet</div>

<div class="py-4 font-bold text-xl flex items-center">
    <div class="mr-2">Action Immediately</div>
    <img src="/resource/SVG/interface/arrow.svg" class="w-6" />
</div>

<a
    href="https://twitter.com/tanrunhao" target="_blank"
    class="cursor-pointer hover:bg-gray-100 flex items-center font-black p-2 m-2 border rounded w-48 border-gray-700"
>
    <div class="flex-1">follow twitter</div>
    <img class="w-10" src="/resource/SVG/logos/twitter.svg" />
</a>
<a  href="https://github.com/tans" target="_blank"
    class="cursor-pointer hover:bg-gray-100 flex items-center font-black p-2 m-2 border rounded w-48 border-gray-700"
>
    <div class="flex-1">star github</div>
    <img class="w-10" src="/resource/SVG/interface/star.svg"
/></a>
<a
    href="/wallet"
    class="cursor-pointer hover:bg-gray-100 flex items-center font-black p-2 m-2 border rounded w-48 border-gray-700"
>
    <div class="flex-1">sign up</div>
    <img class="w-10" src="/resource/SVG/finance/wallet.svg"
/></a>
